<a href="https://colab.research.google.com/github/NightFury5535/LetsUpgrade-AI-ML/blob/master/Assignmnet_4_Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignmnet 4 - Day 6

1. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [1]:
line = "balaji@amdocs.com"
str = line.split(".")[0]
str.split("@")[1]

'amdocs'

2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [2]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordstest,hello,world,hi
hello,hi,test,world

3. Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

## Set

It is a collection which is unordered and unindexed. It does not allow repeating elements. It is enclosed with in {}.

Functions:

add(): It is used to add an element to a set. 

clear(): It is used to clear the entier set. 

copy(): It is used to copy the existing set to another variable. An changes to the original dictionary will not affect the copied set. 

difference(): It is used to get a set containing only the elements in the first set which are not in the second set. 

difference_update(): It is used to update the first set with the difference of two sets. 

discard(): It is used to remove the specified element from the set.

intersection(): It is used to get the similar elements from 2 or more sets. 

intersection_update(): It is used to update the first set with result of intersection function. 

isdisjoint(): It is used to check two set are disjoint sets. 

issubset(): It is used to check one set is sub set of another set. 

issuperset(): It is used to check one set is super set of another set. 

pop(): It is used to remove a randow element from the set. 

remove(): It is used to remove a specific element from the set. If the element is not present it will through an error. 

symmetric_difference(): It is used to get a set containing elements from both the set which are not present in both sets. 

symmetric_difference_update(): It is used to update the original set with the result of symmetric_difference. 

union(): It is used to combine two or more sets without repeating of elements. 

update(): It is used to update a set at the same time it perform the union function also.

In [3]:
# Set add() function:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

print("Printing set a:")
print(a)
print("\n")

print("Printing set b:")
print(b)
print("\n")

print("Printing the set a with element 6 added to it:")
a.add(6)
print(a)

Printing set a:
{1, 2, 3, 4, 5}


Printing set b:
{3, 4, 5, 6, 7, 8}


Printing the set a with element 6 added to it:
{1, 2, 3, 4, 5, 6}

In [4]:
# Set copy() and clear() function:
c = a.copy()
print("printing set c which is copied from set a:")
print(c)
print("\n")

c.clear()
print("Printing set c after it is cleared:")
print(c)

printing set c which is copied from set a:
{1, 2, 3, 4, 5, 6}


Printing set c after it is cleared:
set()

In [5]:
# Set difference() function:
c = a.difference(b)
print("Printing the set c which is result of difference function:")
print(c)

Printing the set c which is result of difference function:
{1, 2}

In [6]:
# Set difference_update() function:
print("Printing set a the result of difference_update function:")
a.difference_update(b)
print(a)

Printing set a the result of difference_update function:
{1, 2}

In [7]:
# Set discard() function:
print("Printing set a after removing 2 using discard function:")
a.discard(2)
print(a)

Printing set a after removing 2 using discard function:
{1}

In [8]:
# Set intersection() function:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

c = a.intersection(b)
print("Printing set c which is intersection of set a and b:")
print(c)

Printing set c which is intersection of set a and b:
{3, 4, 5}

In [9]:
# Set intersection_update() function:
a.intersection_update(b)
print("Printing set a which is result of intersection_update:")
print(a)

Printing set a which is result of intersection_update:
{3, 4, 5}

In [10]:
# Set isdisjoint() function:
print("Printing the result of isdisjoint between a and b:")
print(a.isdisjoint(b))
print("\n")

a = {1,2}
b = {3,4}
print("Printing the result of isdisjoint between a and b with no common value:")
print(a.isdisjoint(b))

Printing the result of isdisjoint between a and b:
False


Printing the result of isdisjoint between a and b with no common value:
True

In [11]:
# Set issubset() function:
a = {1,2,3,4}
b = {1,2,3,4,5,6,7}
print("Printing the result a is subset of b:")
print(a.issubset(b))

Printing the result a is subset of b:
True

In [12]:
# Set issuperset() function:
a = {1,2,3,4}
b = {1,2,3}
print("Printing the result a is super set of b:")
print(a.issuperset(b))

Printing the result a is super set of b:
True

In [13]:
# Set pop() function:
a = {1,2,3,4,6}
print("Printing set a after pop method is used:")
output=a.pop()
print("poped value: ", output)
print(a)

Printing set a after pop method is used:
poped value:  1
{2, 3, 4, 6}

In [14]:
# Set remove() function:
a = {1,2,3,4}
print("Printing set a after removing 4 from set a:")
a.remove(4)
print(a)

Printing set a after removing 4 from set a:
{1, 2, 3}

In [15]:
# Set symmetric_difference() function:
a = {1,2,3,4}
b = {1,2,3}
print("Printing the elements which are not in both set a and b:")
print(a.symmetric_difference(b))

Printing the elements which are not in both set a and b:
{4}

In [16]:
# Set symmetric_difference_update() function:
a = {1,2,3,4}
b = {1,2,3}
a.symmetric_difference_update(b)
print("Printing the result of symmetric_difference_update on set a:")
print(a)

Printing the result of symmetric_difference_update on set a:
{4}

In [17]:
# Set union() function:
a = {1,2,3,4}
b = {1,2,3}
print("Printing the result of union function:")
print(a.union(b))

Printing the result of union function:
{1, 2, 3, 4}

In [18]:
# Set update() function:
a = {1,2,3,4}
b = {1,2,3,5}
a.update(b)
print("Printing the result of update function:")
print(a)

Printing the result of update function:
{1, 2, 3, 4, 5}

4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates

In [19]:
def find_missing(lst):
    return sorted(set(range(lst[0], lst[-1]))-set(lst))
lst = [1, 2, 4, 6, 7, 9, 10]
print("Missing numbers in the list",find_missing(lst))

Missing numbers in the list [3, 5, 8]

5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [20]:
my_lst = input("Enter the list with duplictae values: ")

new_lst = [x for x in my_lst.split(" ")]

new_lst = list(dict.fromkeys(new_lst))

print("Output without duplicate values:", new_lst)

Enter the list with duplictae values: 12 24 50 12
Output without duplicate values: ['12', '24', '50']