<a href="https://colab.research.google.com/github/NightFury5535/LetsUpgrade-AI-ML/blob/master/Assignmnet_1_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignmnet 1 - Day 3

*1. Write a program to subtract two complex numbers in Python.*

In [2]:
def subComplex(c1,c2):
    return c1-c2
c1 = complex(5, 3)
c2 = complex(4, 6)
sub = subComplex(c1,c2)
print("The subtraction of two complex number is ", sub)

The subtraction of two complex number is  (1-3j)


*2.Write a program to find the fourth root of a number.*

In [4]:
import math

def fourth_root(num, root):
    output = num**(1/root)
    return output
root = fourth_root(16, 4)
print("The output is", root)

The output is 2.0

*3.Write a program to swap two numbers in Python with the help of a temporary variable.*

In [5]:
a=5
b=10
temp=a
a=b
b=temp
print('The value of a after swapping: {}'.format(a))
print('The value of b after swapping: {}'.format(b))

The value of a after swapping: 10
The value of b after swapping: 5


4.Write a program to swap two numbers in Python without using a temporary variable

In [6]:
a=15
b=10
a = a+b
b = a-b
a = a-b
print("After Swapping: a =", a, " b =", b);

After Swapping: a = 10  b = 15

4.Write a program to convert fahrenheit to kelvin and celsius.

In [7]:
def Fahrenheit_to_Kelvin(F):
    Kelvin = 273.15 + ((F - 32.0) * 5/9)
    return Kelvin

print("Temperature in Kelvin ( K ) = {:.3f}".format(Fahrenheit_to_Kelvin( 100 )))

def Fahrenheit_to_Celsius(F):
    Celsius =(F - 32.0) * 5/9
    return Celsius

print("Temperature in Celsius ( C ) = {:.3f}".format(Fahrenheit_to_Celsius( 100 )))

Temperature in Kelvin ( K ) = 310.928
Temperature in Celsius ( C ) = 37.778


6.Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

## String:

*It is a sequence of character enclosed with in "" or ''.*

In [9]:
example = "I am new to python."
print(example)
print("length of string " + str(len(example)))
type(example)

I am new to python.
length of string 19

str

### Int

It is a whole number.

In [10]:
a = 5
b = 6
print("Sum of a and b is " + str(a + b))
print("Sub of a and b is " + str(a - b))
print("Mul of a and b is " + str(a * b))
print("Div of a and b is " + str(a / b))

Sum of a and b is 11
Sub of a and b is -1
Mul of a and b is 30
Div of a and b is 0.8333333333333334

### Float

It is number with a decimal part.

In [11]:
a = 5.5
b = 7.3
print("Sum of a and b is " + str(a + b))
print("Sub of a and b is " + str(a - b))
print("Mul of a and b is " + str(a * b))
print("Div of a and b is " + str(a / b))
type(b)

Sum of a and b is 12.8
Sub of a and b is -1.7999999999999998
Mul of a and b is 40.15
Div of a and b is 0.7534246575342466

float

### Boolean

It is True or false only.

In [12]:
a = True
b = False
print("a value is " + str(a))
print("b value is " + str(b))
type(a)

a value is True
b value is False

bool


### List

It is an ordered sequence of objects. It is mutable. It is enclosed with in [].


**Functions:**

append(): It is used to add an object to an existing list. Elements will be added at the end of the list.

clear(): It is used to remove all the elements from the list.

copy(): It is used to copy the existing list to another variable. An changes to the original list will not affect the copied list.

count(): It is used to find the count of specific element in a list.

extend(): It is used to extend an existing list or iterable to the end of the list.

index(): It is used to return the index of the first element of the specified value.

insert(): It is used to add an element at a specified position.

pop(): It is used to remove the element at a specified position or remove the last element of the list if position is not mentioned.

remove(): It is used to remove the first occuring element of the specified value in the list.

reverse(): It is used to reverse the list.

sort(): it is used to sort the list. By default the list is sorted ascending.

In [14]:
lst = ["hello",5,2.8,True]
# List append() functiion:
lst.append(False)
lst.append(["Appending to lst", True])
print("lst after appending the data:")
print(lst)

type(lst1)

lst after appending the data:
['hello', 5, 2.8, True, False, ['Appending to lst', True]]

list

### Dictionary

It is an unordered collection. It is mutable. It is enclosed with in {}. It is expressed in key value pair.

**Functions:**

 clear(): It is used to remove all the elements from the dictionary.

copy(): It is used to copy the existing dictionary to another variable. An changes to the original dictionary will not affect the copied dictionary.

fromkeys(): It is used to create dictionary with the keys and values pased as an argument to function.

get(): It is used to get the value of the specified key which is the parameter to the function.

items(): It is used to return the key value pair of dictionary as tuples in a list.

keys(): It is used to get the list of all the keys in the dictionary.

pop(): It is used to remove the key value pair from the dictionary with the specified key.

popitem(): It is used to remove the last inserted key value pair from the dictionary.

setdefault(): It is used to set default values to specific keys.

update(): It is used to update the dictionary with new key value pair.

values(): It is used to get the list of all the values in the dictionary.

In [15]:
# Dictionary copy() and clear() functions:
dst = {"name": "Rupa", "age": 25, "gender": "Female"}
print("Printing the original dst:")
print(dst)
print("\n")

dst1 = dst.copy()
print("Printing the copied dst1:")
print(dst1)
print("\n")

dst1.clear()
print("Printing the cleared dst1:")
print(dst1)
type(dst1)

Printing the original dst:
{'name': 'Rupa', 'age': 25, 'gender': 'Female'}


Printing the copied dst1:
{'name': 'Rupa', 'age': 25, 'gender': 'Female'}


Printing the cleared dst1:
{}

dict

### Tuple

*Tuple is a collection which is ordered. Tuple is immutable. Tuple is enclosed with in ().*

**Functions:**

count(): It is used to count the number of elements in an tuple which is passed as an argument. 

index(): Is is used to find an element and return it's index.

In [16]:
tpl = (1,6,4,8,3,5,5)

print("Printing the count of tpl:")
print(tpl.count(5))
print("\n")

print("Printing the index of 8:")
print(tpl.index(8))

Printing the count of tpl:
2


Printing the index of 8:
3

### Set

**Functions:**

add(): It is used to add an element to a set. 

clear(): It is used to clear the entier set. 

copy(): It is used to copy the existing set to another variable. An changes to the original dictionary will not affect the copied set. 

difference(): It is used to get a set containing only the elements in the first set which are not in the second set.

difference_update(): It is used to update the first set with the difference of two sets. 
 
discard(): It is used to remove the specified element from the set. 
 
intersection(): It is used to get the similar elements from 2 or more sets. 
 
intersection_update(): It is used to update the first set with result of intersection function.

isdisjoint(): It is used to check two set are disjoint sets.

issubset(): It is used to check one set is sub set of another set.

issuperset(): It is used to check one set is super set of another set.

pop(): It is used to remove a randow element from the set.

remove(): It is used to remove a specific element from the set. If the element is not present it will through an error.

symmetric_difference(): It is used to get a set containing elements from both the set which are not present in both sets. 

symmetric_difference_update(): It is used to update the original set with the result of symmetric_difference. 

union(): It is used to combine two or more sets without repeating of elements. 

update(): It is used to update a set at the same time it perform the union function also.

In [17]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

print("Printing set a:")
print(a)
print("\n")

print("Printing set b:")
print(b)
print("\n")

print("Printing the set a with element 6 added to it:")
a.add(6)
print(a)

Printing set a:
{1, 2, 3, 4, 5}


Printing set b:
{3, 4, 5, 6, 7, 8}


Printing the set a with element 6 added to it:
{1, 2, 3, 4, 5, 6}

7.Create a Markdown cell in jupyter and list the steps discussed in the session by Dr. Darshan Ingle sir to create Github profile and upload Githubs Assignment link.

step 1: Go to github.com and sign up using gmail account (If you were not signed up.

step 2: Create folder for assignment in your local machine.

step 3: In github site, click "New" and then Create a new repository by giving the Repository name as "LetsUpgrade AI-ML"

step 4: Description would be "Assignments" and then visibility sould be "PUBLIC"

step 5: Now, click "Create a new repository" and then click "uploade existing file"

step 6: You can drag and drop the files or click "Choose your files"

step 7: Now upload your assignment files to your Github repository.